<ng-container *ngIf="isLoggedIn" class="sidebar">

    <div class="container">

        <div class="menu">

            <div class="item">
                <img src="/assets/images/icons/icons8-friends-48.png" alt="">
                <span>Friends</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-group-64.png" alt="">
                <span>Groups</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-market-80.png" alt="">
                <span>Marketplace</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-clock-64.png" alt="">
                <span>Memories</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-video-48.png" alt="">
                <span>Watch</span>
            </div>
        </div>
    </div>
    
</ng-container>