<div class="comments">

    <div class="write-comment">
        <img src="assets/images/icons/icons8-gollum-50.png" alt="">
        <input type="text" placeholder="Write a comment">
        <button>send</button>
    </div>

    <div class="comment">
        <img src="assets/images/icons/icons8-chewbacca-50.png" alt="">
        <div class="info">
            <span>username</span>
            <p>Comment description. It should be a really long text to see how it looks. It looks nice.</p>
        </div>
        <span class="date">1 hour ago</span>
    </div>

    <div class="comment">
        <img src="assets/images/icons/icons8-mando-50.png" alt="">
        <div class="info">
            <span>username</span>
            <p>Short comment</p>
        </div>
        <span class="date">1 hour ago</span>
    </div>
</div>