<div class="stories">
    <div class="story">
        <img *ngIf="!isVideo" [src]="defaultStoryUrl" (click)="openStoryDialog(myUserId)" alt="prof-pic">

        <video *ngIf="isVideo" (click)="openStoryDialog(myUserId)" autoplay loop [muted]="true">
            <source [src]="defaultStoryUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <span [routerLink]="['/user-page', user?.id]">{{ user?.userName }}</span>
        <button (click)="openUploadStoryDialog(myUserId)" matTooltip="Add a story">+</button>
    </div>

    <ng-container *ngFor="let story of stories">
        <app-story [storyId]="story.id" (storyViewed)="addStoryToViewed(story.id)"></app-story>
    </ng-container>
</div>