<div class="stories">
    <!-- TODO: az első story user profilképe -->
     <!-- TODO: cseréljük majd le a mockolt adatokat -->
    <div class="story">
        <img src="assets/images/logos/logo.png" alt="">
        <span>takacsdanii</span>
        <button matTooltip="Add a story">+</button>
    </div>
    <div class="story">
        <img src="assets/images/logos/logo3.png" alt="">
        <span>username2</span>
    </div>
    <div class="story">
        <img src="assets/images/logos/logo2.png" alt="">
        <span>test3</span>
    </div>
    <div class="story">
        <img src="assets/images/logos/logo5.png" alt="">
        <span>TEST_USERNAME</span>
    </div>
    <div class="story">
        <img src="assets/images/logos/logo4.png" alt="">
        <span>test username</span>
    </div>
</div>
