<div *ngIf="comment" class="comment">
    <img [src]="profilePicUrl" alt="prof-pic">
    <div class="info">
        <span>{{ comment.userName }}</span>
        <p>{{ comment.text }}</p>
    </div>
    <div (click)="toggleReplySection()" class="reply">
        <mat-icon>reply</mat-icon>
        <span>reply</span>
    </div>
    <span class="date">
        {{ timeAgo }}
    </span>
    <div class="like">
        <mat-icon (click)="likeComment()" [ngClass]="{'liked': isLiked, 'not-liked': !isLiked}">
            {{ isLiked ? 'favorite' : 'favorite_border'}}
        </mat-icon>
        <span>{{ comment.likeCount }}</span>
        <mat-icon *ngIf="isMyComment() || isAdmin" (click)="openDeleteDialog()">delete</mat-icon>
    </div>
</div>