<div *ngIf="comment" class="comment">
    <img [routerLink]="['/user-page', comment.userId]" [src]="profilePicUrl" alt="prof-pic">
    <div class="info">
        <span [routerLink]="['/user-page', comment.userId]">{{ comment.userName }}</span>
        <p>{{ comment.text }}</p>
    </div>
    <div *ngIf="!isReply" (click)="toggleReplySection()" class="reply">
        <mat-icon>reply</mat-icon>
        <span>reply</span>
        <div *ngIf="hasReplies" class="reply-cnt">{{ comment.replyCount }} replies</div>
    </div>
    <span class="date">
        {{ timeAgo }}
    </span>
    <div class="like">
        <mat-icon (click)="likeComment()" [ngClass]="{'liked': isLiked, 'not-liked': !isLiked}">
            {{ isLiked ? 'favorite' : 'favorite_border'}}
        </mat-icon>
        <span (click)="openLikersDialog(comment.postId, comment.id)">{{ comment.likeCount }}</span>
        <mat-icon *ngIf="isMyComment() || isMyPost || isAdmin" (click)="openDeleteDialog()">delete</mat-icon>
    </div>
</div>