<!-- ? keeping this one tho, in case the other sucks -->
<!-- <mat-toolbar-row>
    <div class="logo">
        <img routerLink="/users" src="/assets/images/logos/logo3.png" alt="logo">
    </div>
    
    <ng-container *ngIf="isLoggedIn">

        <div class="toolbar-container">
            <div class="toolbar-left">
                <mat-icon>home</mat-icon>
                <mat-icon>apps</mat-icon>
            </div>
            
            <div class="toolbar-center">
                <mat-icon>search</mat-icon>
                <input type="text" id="search-box" placeholder="Search users here" class="search-box">
            </div>
            
            <div class="toolbar-right">
                <mat-icon>mail</mat-icon>
                <mat-icon>chat</mat-icon>
                <mat-icon>notifications</mat-icon>
                <mat-icon [routerLink]="['/users', userId]" matTooltip="Personal information">person</mat-icon>
            </div>
        </div>

        <div *ngIf="isAdmin" class="menu-item">
            <a routerLink="/users">Users</a>
        </div>

        <button mat-fab class="fab" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dark_mode</mat-icon>Dark mode
            </button>
            <button mat-menu-item>
                <mat-icon>light_mode</mat-icon>Light mode
            </button>
            <button mat-menu-item [routerLink]="['/users', userId]">
                <mat-icon>person</mat-icon>Personal Information
            </button>
            <button mat-menu-item routerLink="" (click)="logOut()">
                <mat-icon allign="end">logout</mat-icon>Logout
            </button>
        </mat-menu>
    </ng-container>

</mat-toolbar-row>
 -->

<div class="navbar">

    <div class="left">
        <!-- TODO: dont forget the logo -->
        <!-- <img routerLink="/users" src="/assets/images/logos/logo3.png" alt="logo"> -->
        <span>CatchUP</span>
        <mat-icon>home</mat-icon>
        <mat-icon>apps</mat-icon>
    </div>

    <div class="center">
        <mat-icon>search</mat-icon>
        <input type="text" id="search-box" placeholder="Search users here">
    </div>

    <div class="right">
        <!-- ? még az ikonokon gondolkozok -->
        <mat-icon>mail</mat-icon>
        <mat-icon>chat</mat-icon>
        <mat-icon>notifications</mat-icon>

        <div class="user">
            <mat-icon [routerLink]="['/users', userId]" matTooltip="Personal information">person</mat-icon>
            <!-- <img src="assets/images/icons/icons8-male-user-50.png" alt="profile picture"> -->
            <span>{{ userName }}</span>
        </div>
    </div>
    
</div>