<div class="navbar">

    <div class="left">
        <span routerLink="/users">CatchUP</span>
        <img routerLink="/users" src="/assets/images/logos/logo3.png" alt="logo">
        <mat-icon [routerLink]="['/users']" matTooltip="Home">home</mat-icon>
        <mat-icon matTooltip="Apps">apps</mat-icon>
    </div>

    <div class="center">
        <mat-icon>search</mat-icon>
        <input type="text" id="search-box" placeholder="Search users here">
    </div>

    <div class="right">
        <!-- ? még az ikonokon gondolkozok -->
        <mat-icon matTooltip="Messages">mail</mat-icon>
        <mat-icon matTooltip="Messages">chat</mat-icon>
        <mat-icon matTooltip="Notifications">notifications</mat-icon>

        <div [routerLink]="['/users', userId]" class="user">
            <img matTooltip="Personal information" src="assets/images/icons/icons8-male-user-50.png" alt="profile picture">
            <span>{{ userName }}</span>
        </div>

        <mat-icon mat-fab matTooltip="Menu" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/users', userId]">
                <mat-icon>person</mat-icon>Personal Information
            </button>
            <button mat-menu-item *ngIf="!isDarkModeOn" (click)="toggleDarkMode()">
                <mat-icon>dark_mode</mat-icon>Dark mode
            </button>
            <button mat-menu-item *ngIf="isDarkModeOn" (click)="toggleDarkMode()">
                <mat-icon>light_mode</mat-icon>Light mode
            </button>
            <button mat-menu-item routerLink="" (click)="logOut()">
                <mat-icon>logout</mat-icon>Logout
            </button>
        </mat-menu>
    </div>
    
</div>