.row {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.mat-toolbar-row {
    height: 60px; 
    background-color: #FFFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); /* Lighter shadow */
    font-weight: 600;
    padding: 5px 20px; /* Adjusted padding to give space */
    display: flex;
    flex-wrap: nowrap; /* Ensure no wrapping */
    justify-content: space-between; /* Distribute space evenly */
    align-items: center; /* Align items vertically in the center */
    position: relative; /* Ensure positioning context for FAB */
    width: 100%;
    box-sizing: border-box; /* Ensure width calculation includes padding */
}

.menu-item a {
    padding: 5px 10px; /* Reduced padding */
    font-size: 15px; /* Smaller font size */
    color: #808080;
}

.menu-item a, .mat-icon {
    padding-right: 4px; /* Reduced right padding */
    font-size: 22px; /* Smaller icon font size */

    &:hover {
        cursor: pointer;
        color: #0056b3;
    }
}

.logo {
    padding: 0;
    width: 100px;
    margin-right: 0;
    margin-top: 7px;
}

img {
    padding: 0;
    margin: 0;
    width: 60px;
    height: auto;
    border-radius: 30px;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
}

.toolbar-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    max-width: 500px; /* Optional: restrict max width of the center */
}

.search-box {
    padding: 5px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.menu-item a, .mat-icon {
    padding-right: 10px;
    font-size: 22px;
}

/* FAB positioning */
.fab {
    background-color: white;
    color: black;
    position: relative; /* Changed from absolute */
    margin-left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1; /* Ensure it stays above content */
}

.mat-fab {
    font-size: 30px; /* Make the icon inside the button larger */
}

/* Optional: Add spacing below the navbar for content */
body {
    margin-top: 100px; /* Adjust based on the new height of your navbar */
}

