// ? keeping this one tho, in case the other sucks
/* .row {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.mat-toolbar-row {
    height: 60px; 
    background-color: #FFFDFD;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    padding: 5px 20px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    width: 100%;
    box-sizing: border-box; 
}

.menu-item a {
    padding: 5px 10px;
    font-size: 15px;
    color: #808080;
}

.menu-item a, .mat-icon {
    padding-right: 4px;
    font-size: 22px;

    &:hover {
        cursor: pointer;
        color: #0056b3;
    }
}

.logo {
    padding: 0;
    width: 100px;
    margin-right: 0;
    margin-top: 7px;

    &:hover {
        cursor: pointer;
    }
}

img {
    padding: 0;
    margin: 0;
    width: 60px;
    height: auto;
    border-radius: 30px;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
}

.toolbar-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    max-width: 500px;
}

.search-box {
    padding: 5px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.menu-item a, .mat-icon {
    padding-right: 10px;
    font-size: 22px;
}

.fab {
    background-color: white;
    color: black;
    position: relative; 
    margin-left: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.mat-fab {
    font-size: 30px;
}

body {
    margin-top: 100px;
}

 */

 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;

    .left {
        display: flex;
        align-items: center;

        span{

        }

        img{

        }
    }

    .center {
        display: flex;
        align-items: center;

        input{

        }
    }

    .right {
        display: flex;
        align-items: center;

        .user {

            span{

            }
    
            img{
    
            }
        }
    }


 }