<form (ngSubmit)="resetPassword()" #loginForm="ngForm" class="login-form">
    <section>
      <div class="form-group">
        <input type="text" id="userName" [(ngModel)]="email" name="userName" placeholder="Please enter your email!" required class="form-control">
      </div>
    </section>
  
    <button type="submit" [disabled]="email === '' || email == null" class="btn btn-primary">request a new password</button>

    <div class="signup-section">
      <p>If you forgot you password, we will send you a new one, that you can change later.</p>
      <p>Just enter your eamil and press the button.</p>
      <div class="separator"></div>
      <button type="button" class="btn btn-secondary" [routerLink]="['/login']">sign in page</button>
  </div>
</form>