<div class="delete-dialog">
    <ng-container *ngIf="isAdmin">
        <h4>Are you sure you want to delete this account?</h4>
        <h6>{{ data.userName }}</h6>
    </ng-container>

    <ng-container *ngIf="!isAdmin">
        <h4>Are you sure you want to delete your account?</h4>
    </ng-container>

    <mat-dialog-actions align="end" class="action-buttons">
        <button mat-raised-button matDialogClose (click)="onDelete(data.userId)" class="delete-button">Delete</button>
        <button mat-raised-button matDialogClose class="cancel-button">Cancel</button>
    </mat-dialog-actions>
</div>