@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}

.story {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include mobile  {
        flex: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span{
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-weight: 500;

        @include mobile  {
            display: none;
        }
    }

    button{
        position: absolute;
        bottom: 40px;
        left: 10px;
        color: white;
        background-color: #0056b3;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 25px;
        align-items: center;
        justify-content: center;

        @include mobile  {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}