// ! amiatt van itt, mert nem jó a styles.scss
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    z-index: 1000;
    // background-color: rgb(226, 230, 232);
    // background-color: rgb(229, 226, 226);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .left {
        display: flex;
        align-items: center;
        gap: 30px;

        span{
            font-weight: bold;
            font-size: 25px;
            color: #0056b3;
            cursor: pointer;
            // ? ha azt akarom h a betűk körvonala legyen kék
            //-webkit-text-stroke: 0.2px #0056b3;
        }

        img{
            width: 70px;
            height: auto;
            border-radius: 50%;
            cursor: pointer;
        }

        mat-icon{
            cursor: pointer;
            &:hover {
                color: #0056b3;
            }
        }
    }

    .center {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5px;

        input{
            border: none;
            width: 450px;
            background-color: transparent;

            @include mobile{
                display: none;
            }

            @include tablet {
                width: 100px;
            }
        }

        mat-icon{
            cursor: pointer;
            &:hover {
                color: #0056b3;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            span{
                @include mobile{
                    display: none;
                }   
                @include tablet{
                    display: none;
                }
                cursor: pointer;
                &:hover {
                    color: #0056b3;
                }
            }
    
            img{
                width: 24px;
                height: auto;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        mat-icon{
            @include tablet{
                display: none;
            }
            cursor: pointer;
            &:hover {
                color: #0056b3;
            }
        }
    }

 }