<div class="navbar">

    <div class="left">
        <img [routerLink]="['/home-page', userId]" src="/assets/images/logos/logo3.png" alt="logo">
        <span [routerLink]="['/home-page', userId]">CatchUP</span>
        <mat-icon [routerLink]="['/home-page', userId]" matTooltip="Home">home</mat-icon>
        <mat-icon matTooltip="Apps">apps</mat-icon>
    </div>

    <div class="center">
        <mat-icon>search</mat-icon>
        <input type="text" [(ngModel)]="searchString" (input)="onSearchChange()" id="search-box" placeholder="Search users here">

        <div *ngIf="searchString != ''" class="filtered-users">
            <div [routerLink]="['/user-page', user.id]" (click)="searchString = ''" *ngFor="let user of filteredUsers">
                <img [src]="mediaUrlService.getFullUrl(user.profilePicUrl)" alt="prof-pic">
                <span>{{ user.userName }}</span>
                <span>| {{ user.firstName }} {{ user.lastName }} |</span>
            </div>
        </div>
    </div>

    <div class="right">
        <!-- ? még az ikonokon gondolkozok -->
        <mat-icon matTooltip="Messages">mail</mat-icon>
        <mat-icon matTooltip="Notifications">notifications</mat-icon>

        <div [routerLink]="['/user-page', userId]" class="user">
            <img matTooltip="My page" [src]="mediaUrlService.getFullUrl(user?.profilePicUrl)" alt="profile picture">
            <span>{{ user?.userName }}</span>
        </div>

        <mat-icon mat-fab matTooltip="Menu" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/users', userId]">
                <mat-icon>manage_accounts</mat-icon>Manage my account
            </button>
            <button mat-menu-item *ngIf="isAdmin" routerLink="/users">
                <mat-icon>person_search</mat-icon>Manage accounts
            </button>
            <button mat-menu-item *ngIf="!isDarkModeOn" (click)="toggleDarkMode()">
                <mat-icon>dark_mode</mat-icon>Dark mode
            </button>
            <button mat-menu-item *ngIf="isDarkModeOn" (click)="toggleDarkMode()">
                <mat-icon>light_mode</mat-icon>Light mode
            </button>
            <button mat-menu-item routerLink="" (click)="logOut()">
                <mat-icon>logout</mat-icon>Logout
            </button>
        </mat-menu>
    </div>
    
</div>