<ng-container class="sidebar">

    <div class="container">

        <div class="menu">

            <div class="item">
                <img src="/assets/images/icons/icons8-chewbacca-50.png" alt="">
                <span>Chewbacca</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-darth-vader-50.png" alt="">
                <span>Darth Vader</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-gollum-50.png" alt="">
                <span>Gollum</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-mando-50.png" alt="">
                <span>Mandalorian</span>
            </div>
        
            <div class="item">
                <img src="/assets/images/icons/icons8-minion-2-50.png" alt="">
                <span>Minions</span>
            </div>
        </div>
    </div>
    
</ng-container>