<div class="post">
    <div class="container">

        <div class="user">
            <div [routerLink]="['/user-page', user?.id]" class="user-info">
                <img [src]="profilePicUrl" alt="">
                <div class="details">
                    <span class="name">{{ user?.userName }}</span>
                    <span class="date">{{ timeAgo }}</span>
                </div>
            </div>
            <mat-icon *ngIf="isLoggedInUsersPost() || isAdmin" [matMenuTriggerFor]="actionMenu">more_horiz</mat-icon>
        </div>

        <mat-menu #actionMenu="matMenu">
            <button mat-menu-item *ngIf="isLoggedInUsersPost()" (click)="openEditDialog(postId, post!.description, null)">
                <mat-icon>edit_note</mat-icon>Change description
            </button>
            <button mat-menu-item *ngIf="isLoggedInUsersPost()" (click)="openEditDialog(postId, null, post!.visibility)">
                <mat-icon>edit</mat-icon>Change visibility
            </button>
            <button mat-menu-item (click)="openDeleteDialog()">
                <mat-icon>delete</mat-icon>Delete post
            </button>
        </mat-menu>
    
        <div class="content">
            <p>{{ post?.description }}</p>
            <div class="slider">
                 <img *ngIf="!isVideo"
                    (click)="openDisplayContentDialog(post?.mediaContents?.[currentImgIdx]?.mediaUrl)"
                    [src]="mediaUrl" alt="">

                <video *ngIf="isVideo" controls>
                    <source [src]="mediaUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="controls">
                    <button (click)="prevImage()" [disabled]="currentImgIdx === 0">&lt;</button>
                    <button (click)="nextImage()" [disabled]="currentImgIdx === (post?.mediaContents?.length || 0) - 1">&gt;</button>
                </div>
            </div>
        </div>
    
        <div class="info">
            <div class="item like-item">
                <mat-icon (click)="likePost()" [ngClass]="{'liked': isLiked, 'not-liked': !isLiked}">
                    {{ isLiked ? 'favorite' : 'favorite_border'}}
                </mat-icon>
                <div (click)="openLikersDialog(post!.id)">{{ post?.likeCount }} likes</div>
            </div>
            <div class="item" (click)="toggleOpenCommentSection()">
                <mat-icon>chat</mat-icon>{{ post?.commentCount }} comments
            </div>
            <div class="item">
                <mat-icon>share</mat-icon>Share
            </div>
        </div>
        <app-comments *ngIf="isCommentSectionOpen" [postId]="post!.id" (commentAddedOrDeleted)="ngOnInit()"></app-comments>
    </div>
</div>