<div class="post">
    <div class="container">

        <div class="user">
            <div [routerLink]="['/user-page', user?.id]" class="user-info">
                <img [src]="mediaUrlService.getFullUrl(user?.profilePicUrl)" alt="">
                <div class="details">
                    <span class="name">{{ user?.userName }}</span>
                    <span class="date">{{ post?.createdAt | date: 'yyyy-MM-dd hh:mm'}}</span>
                </div>
            </div>
            <mat-icon *ngIf="isLoggedInUsersPost() || isAdmin" [matMenuTriggerFor]="actionMenu">more_horiz</mat-icon>
        </div>

        <mat-menu #actionMenu="matMenu">
            <button mat-menu-item *ngIf="isLoggedInUsersPost()" (click)="openEditDialog(postId, post!.description)">
                <mat-icon>edit_note</mat-icon>Change description
            </button>
            <button mat-menu-item *ngIf="isLoggedInUsersPost()">
                <mat-icon>edit</mat-icon>Change visibility
            </button>
            <button mat-menu-item (click)="deletePost(postId)">
                <mat-icon>delete</mat-icon>Delete post
            </button>
        </mat-menu>
    
        <div class="content">
            <p>{{ post?.description }}</p>
            <div class="slider">
                <img (click)="openDisplayContentDialog(post!!.mediaUrls[currentImgIdx])"
                 [src]="mediaUrlService.getFullUrl(post!!.mediaUrls[currentImgIdx])" alt="">
                <div class="controls">
                    <button (click)="prevImage()" [disabled]="currentImgIdx === 0">&lt;</button>
                    <button (click)="nextImage()" [disabled]="currentImgIdx === post!!.mediaUrls.length - 1">&gt;</button>
                </div>
            </div>
        </div>
    
        <div class="info">
            <div class="item like-item">
                <mat-icon (click)="likePost()" [ngClass]="{'liked': isLiked, 'not-liked': !isLiked}">
                    {{ isLiked ? 'favorite' : 'favorite_border'}}
                </mat-icon>
                <div (click)="openLikersDialog()">{{ post?.likeCount }} likes</div>
            </div>
            <div class="item" (click)="toggleOpenCommentSection()">
                <mat-icon>chat</mat-icon>2 comments
            </div>
            <div class="item">
                <mat-icon>share</mat-icon>Share
            </div>
        </div>
        <app-comments *ngIf="isCommentSectionOpen"></app-comments>
    </div>
</div>