<app-navigation-header></app-navigation-header>

<div style="display: flex;">
    <app-left-side-bar style="flex: 2;"></app-left-side-bar>

    <div class="profile" style="flex: 6;">

        <div class="images">
            <img [src]="coverPicUrl"
            [matMenuTriggerFor]="isMypage() || isAdmin ? actionMenu : null"
            (menuOpened)="currentImageType = 'cover'"
            (click)="isMypage() || isAdmin ? null : openDisplayContentDialog('cover')"
            alt="cover picture" class="cover-pic">

            <div [ngClass]="{ 'story-border': isStoryUploaded }" class="profile-pic-container">
                <img [src]="profilePicUrl"
                [matMenuTriggerFor]="isMypage() || isAdmin || isStoryUploaded ? actionMenu : null"
                (menuOpened)="currentImageType = 'profile'"
                (click)="isMypage() || isAdmin|| isStoryUploaded ? null : openDisplayContentDialog('profile')"
                alt="profile picture" class="profile-pic">
            </div>
        </div>

        <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="openDisplayContentDialog(currentImageType)">
                <mat-icon>visibility</mat-icon>View {{ currentImageType }} picture
            </button>
            <button *ngIf="isStoryUploaded && currentImageType === 'profile'" mat-menu-item (click)="openStoryDialog(user.id)">
                <mat-icon>visibility</mat-icon>View story
            </button>
            <button *ngIf="isMypage() && currentImageType === 'profile'" mat-menu-item (click)="openUploadStoryDialog(user.id)">
                <mat-icon>upload</mat-icon>Add new story
            </button>
            <button *ngIf="isMypage()" mat-menu-item (click)="openUploadDialog(user.id, currentImageType)">
                <mat-icon>edit</mat-icon>Change {{ currentImageType }} picture
            </button>
            <div *ngIf="isMypage() || isAdmin">
                <button *ngIf="currentImageType === 'profile' ?  hasProfilePic() : hasCoverPic()" mat-menu-item (click)="openDeletePictureDialog(user.id, currentImageType)">
                    <mat-icon>delete</mat-icon>Delete {{ currentImageType }} picture
                </button>
            </div>
        </mat-menu>
    
        <div class="profile-container">

            <div class="user-info">
                <div class="left">
                    <div class="item">
                        <p *ngIf="user.bio != null" class="bio-display">{{ user.bio }}</p>
                        <div class="details">
                            <div>Birth date: {{ user.birthDate | date: 'yyyy. MM. dd' }}</div>
                            <div>Joined: {{ timeAgo }}</div>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <span>{{ user.userName }}</span>
                    <div class="info">
                        <div class="item">
                            <mat-icon>account_circle</mat-icon>
                            <span>{{ user.firstName }} {{ user.lastName }}</span>
                        </div>
                    </div>
                    <button *ngIf="!isMypage() && !following" (click)="onFollowPressed(user.id)" class="follow-btn">Follow</button>
                    <button *ngIf="!isMypage() && following" (click)="onUnFollowPressed(user.id)" class="unfollow-btn">Unfollow</button>
                </div>

                <div class="right">
                    <span (click)="openFollowersDialog(user.id, true)">{{ user.followersCount }} followers</span>
                    <span (click)="openFollowersDialog(user.id, false)">{{ user.followingCount }} following</span>
                    <mat-icon *ngIf="!isMypage()">mail</mat-icon>
                    <mat-icon *ngIf="isMypage() || isAdmin" [matMenuTriggerFor]="moreMenu">more_vert</mat-icon>

                    <mat-menu #moreMenu="matMenu" class="more-menu">
                        <button *ngIf="isMypage() || isAdmin" mat-menu-item [routerLink]="['/users', user.id]">
                            <mat-icon>manage_accounts</mat-icon>Manage account
                        </button>
                        <button *ngIf="isMypage()" mat-menu-item (click)="openEditBioDialog(user.id, user.bio)">
                            <mat-icon>edit</mat-icon>Edit bio
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div *ngIf="isMypage()" class="upload-container">
            <span>What's in your mind?</span>

            <textarea [(ngModel)]="postDescription" rows="5" placeholder="Description"></textarea>
            

            <label for="visibility">Visibility: </label>
            <select [(ngModel)]="postVisibility" id="visibility">
                <option [value]="0">Public</option>
                <option [value]="1">Friends</option>
                <option [value]="2">Followers</option>
                <option [value]="3">Following</option>
                <option [value]="4">Private</option>
            </select>
            <input #fileInput type="file" (change)="onFilesSelected($event)" multiple>

            <button (click)="uploadPost(fileInput)" [disabled]="!canUpload()">Upload</button>
        </div>
        
        <app-posts [userId]="user.id" [isHomePage]="false"></app-posts>
    </div>

    <app-right-side-bar (followPressed)="onFollowUpdated()" class="sidebar" style="flex: 3;"></app-right-side-bar>
</div>