<app-navigation-header></app-navigation-header>

<div style="display: flex;">
    <app-left-side-bar style="flex: 2;"></app-left-side-bar>

    <div class="profile" style="flex: 6;">

        <div class="images">
            <img [src]="mediaUrlService.getFullUrl(user.coverPicUrl)"
            [matMenuTriggerFor]="isMypage() ? actionMenu : null"
            (menuOpened)="currentImageType = 'cover'"
            (click)="isMypage() ? null : openDisplayContentDialog('cover')"
            alt="cover picture" class="cover-pic">

            <img [src]="mediaUrlService.getFullUrl(user.profilePicUrl)"
            [matMenuTriggerFor]="isMypage() ? actionMenu : null"
            (menuOpened)="currentImageType = 'profile'"
            (click)="isMypage() ? null : openDisplayContentDialog('profile')"
            alt="profile picture" class="profile-pic">
        </div>

        <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="openDisplayContentDialog(currentImageType)">
                <mat-icon>visibility</mat-icon>View {{ currentImageType }} picture
            </button>
            <button mat-menu-item (click)="openUploadDialog(user.id, currentImageType)">
                <mat-icon>edit</mat-icon>Edit {{ currentImageType }} picture
            </button>
        </mat-menu>
    
        <div class="profile-container">

            <div class="user-info">
                <div class="left">
                    <!-- <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://tiktok.com"><i class="fab fa-tiktok"></i></a>
                    <a href="https://snapchat.com"><i class="fab fa-snapchat"></i></a> -->
                    <div class="item">
                        <mat-icon>auto_stories</mat-icon>
                        <span>{{ user.bio }} text</span>
                    </div>
                    <div class="item">
                        <span>{{ getGenderName(user.gender) }}</span>
                    </div>
                    <div class="item">
                        <span>{{ user.birthDate | date: 'yyyy-MM-dd' }}</span>
                    </div>
                    <div class="item">
                        <span>{{ user.registeredAt| date: 'yyyy-MM-dd' }}</span>
                    </div>
                </div>

                <div class="center">
                    <span>{{ user.userName }}</span>
                    <div class="info">
                        <div class="item">
                            <mat-icon>language</mat-icon>
                            <span>{{ user.firstName }} {{ user.lastName }}</span>
                        </div>
                        <div class="item">
                            <mat-icon>location_on</mat-icon>
                            <!-- ? location property -->
                            <span>Budapest</span>
                        </div>
                        <!-- <div class="item">
                            <mat-icon>language</mat-icon>
                            <span>Hungary</span>
                        </div> -->
                    </div>
                    <button *ngIf="!isMypage() && !following" (click)="onFollowPressed(user.id)" class="follow-btn">Follow</button>
                    <button *ngIf="!isMypage() && following" (click)="onUnFollowPressed(user.id)" class="unfollow-btn">Unfollow</button>
                </div>

                <div class="right">
                    <mat-icon>mail</mat-icon>
                    <mat-icon>more_vert</mat-icon>
                </div>
            </div>
        </div>

        <div class="upload-container">
            <span>Here comes post upload section</span>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        
        <app-posts></app-posts>
    </div>

    <app-right-side-bar (followPressed)="onFollowUpdated()" class="sidebar" style="flex: 3;"></app-right-side-bar>
</div>