<div class="sidebar">
    <div class="container">

        <div class=item>
            <span>Following you</span>
            <div *ngFor="let user of displayedOneWayFollowers" class="user">
                <div class="userinfo">
                    <img [src]="mediaUrlService.getFullUrl(user.profilePicUrl)" alt="profile picture">
                    <span [routerLink]="['/user-page', user.id]">{{ user.userName }}</span>
                </div>
                <div class="buttons">
                    <!-- ? esetleg jöhetne ide inkább ikon-->
                    <!-- <img src="assets/images/icons/icons8-add-friend-48.png" alt=""> -->
                    <button (click)="onFollowPressed(user.id)">Follow</button>
                    <button (click)="onDismissPressed(user.id)">Dismiss</button>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Latest Activities</span>
            <div *ngFor="let user of users" class="user">
                <div class="userinfo">
                    <img [routerLink]="['/user-page', user.id]" [src]="mediaUrlService.getFullUrl(user.profilePicUrl)" alt="profile picture">
                    <div class="details">
                        <span [routerLink]="['/user-page', user.id]">{{ user.userName }}</span>
                        <!-- TODO: ide majd az action jön, amit csinált és hogy mikor -->
                        <!-- ? klikkelésre itt majd egy postra vigyen külön dialogon -->
                        <div class="actions">
                            <span>Liked your post</span>
                            <span>2m ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Your friends</span>
            <div *ngFor="let friend of friends" class="user">
                <div [routerLink]="['/user-page', friend.id]" class="userinfo">
                    <img [src]="mediaUrlService.getFullUrl(friend.profilePicUrl)" alt="profile picture">
                    <div class="online"></div>
                    <span>{{ friend.userName }}</span>
                </div>
            </div>
        </div>
    </div>
</div>