<div class="sidebar">
    <div class="container">

        <span>Following you</span>
        <div class=item>
            <!-- <span>Following you</span> -->
            <div *ngFor="let user of followersNotFollowedBack" class="user">
                <div class="userinfo">
                    <img [src]="getProfilePicUrl(user)" alt="profile picture">
                    <span [routerLink]="['/user-page', user.id]">{{ user.userName }}</span>
                </div>
                <div class="buttons">
                    <button (click)="onFollowPressed(user.id)">Follow</button>
                    <button (click)="onDismissPressed(user.id)">Dismiss</button>
                </div>
            </div>
        </div>

        <span>Who don't care to follow you back</span>
        <div class="item">
            <!-- <span>Who don't care to follow you back</span> -->
            <div *ngFor="let user of followingNotFollowedBack" class="user">
                <div class="userinfo">
                    <img [routerLink]="['/user-page', user.id]" [src]="getProfilePicUrl(user)" alt="profile picture">
                    <div class="details">
                        <span [routerLink]="['/user-page', user.id]">{{ user.userName }}</span>
                    </div>
                </div>
            </div>
        </div>

        <span>Your friends</span>
        <div class="item">
            <!-- <span>Your friends</span> -->
            <div *ngFor="let friend of friends" class="user">
                <div [routerLink]="['/user-page', friend.id]" class="userinfo">
                    <img [src]="getProfilePicUrl(friend)" alt="profile picture">
                    <div class="online"></div>
                    <span>{{ friend.userName }}</span>
                </div>
            </div>
        </div>
    </div>
</div>