table {
    mat-icon {
      cursor: pointer;
  
      &:hover {
        color: #0056b3; 
      }
    }
  }
  
  .action-button {
    margin-right: 10px; 
  }

  .delete {
    color: rgb(176, 36, 36);
  }
  
  .user-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  app-left-side-bar, app-right-side-bar {
    width: 200px;
  }

  .user-details-content {
    flex: 6;
    flex-grow: 1; 
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }