<h5>Upload a new story!</h5>

<div>
    <label for="visibility">Visibility: </label>
    <select [(ngModel)]="visibility" id="visibility">
        <option [value]="0">Public</option>
        <option [value]="1">Friends</option>
        <option [value]="2">Followers</option>
        <option [value]="3">Following</option>
        <option [value]="4">Private</option>
        <option [value]="5">Custom</option>
    </select>
</div>

<div>
    <input type="file" (change)="onFileSelected($event)" />
</div>

<mat-dialog-actions align="end" class="action-buttons">
    <button mat-raised-button matDialogClose (click)="onUpload()" [disabled]="!selectedFile" class="upload-button">Upload</button>
    <button mat-raised-button matDialogClose class="cancel-button">Cancel</button>
</mat-dialog-actions>