<app-navigation-header></app-navigation-header>

<form (ngSubmit)="changePassword()" #loginForm="ngForm" class="login-form">
    <h3>Set new password</h3>
    <section>
      <div class="form-group">
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="changePasswordModel.oldPassword" placeholder="Current password" required class="form-control">
      </div>
    </section>
    <section>
        <div class="form-group">
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="changePasswordModel.newPassword" placeholder="New password" required class="form-control">
        </div>
        <div class="form-group">
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="changePasswordModel.confirmNewPassword" placeholder="Confirm new password" required class="form-control">
        </div>
    </section>
  
    <button type="submit" [disabled]="!isEverythingFilled" class="btn btn-primary">Change password</button>

</form>